$title-font: 2.5rem;
$text-font: 1rem;
$primary-color: rgb(35, 218, 143);
$screen-max: 800px;
$screen-min: 801px;

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-direction: $direction;
}

@mixin flexCenterFooter($direction) {
  //no align-items
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-direction: $direction;
}

@mixin flexCenterWrap($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-direction: $direction;
  flex-wrap: wrap;
}

*a {
  text-decoration: none; /* no underline */
}
