.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;

  background-image: url('../images/fundoHeader.png');
  background-repeat: no-repeat;
  background-size: cover;
}
