.partners {
  @include flexCenter(column);

  width: 100%;
  height: auto;
  margin-top: 2rem;

  &_title {
    margin: 3rem;
    margin-top: $height-header;
    .title {
      font-size: $title-font;
    }
    .msg {
      font-size: $text-font;
    }
  }
  &_info {
    //@include flexCenterWrap(row);
    width: 65vw;
    height: auto;

    .custom-left-arrow {
      position: absolute !important;
      left: 1vw;
      z-index: 1;
      border: 1px solid grey;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 6px;
      opacity: 0.8;
      cursor: pointer;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    .custom-right-arrow {
      position: absolute !important;
      right: 1vw;
      z-index: 1;
      border: 1px solid grey;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 6px;
      opacity: 0.8;
      cursor: pointer;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    .box {
      @include flexCenter(column);

      padding: 3vw 7vh;
      margin: 2rem;
      margin-right: 6rem;
      width: 17vw;
      min-width: 13rem;
      height: auto;

      font-size: $text-font;
      text-align: left;

      background-color: #fff;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

      img {
        width: 60%;
        min-width: 30%;
      }
      &_title {
        font-size: 1.5rem;
      }
      &_msg {
        font-size: $text-font;
      }
    }
  }
  &_contact {
    @include flexCenter(column);
    margin-top: 5rem;
    .title {
      font-size: $title-font;
    }
    .msg {
      font-size: 2rem;
    }
    .email {
      @include flexCenterWrap(row);

      width: 40vw;
      min-width: 30rem;
      height: auto;
      margin: 3rem;
      padding: 5rem;

      font-size: 1.5rem;

      color: #fff;

      background-color: $primary-color;

      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      &_name {
        margin-left: 2rem;
      }
    }
  }
}
