@import '~antd/dist/antd.css';
@import 'config';
@import 'header';
@import 'footer';
@import 'mainPage';
@import 'partners';

.app {
  @include flexCenter(column);

  text-align: center;
  width: 100%;
  height: auto;
}
